* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #202124;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;


    
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

.logo-container {
    margin-top: 150px;
}

.logo-container img {
    width: 272px;
    height: 92px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#searchInput {
    width: 200%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}

#searchInput:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border: 1px solid #4285f4;
}

.buttons {
    margin-top: 20px;
}

#searchButton, #luckyButton {
    padding: 10px 20px;
    font-size: 14px;
    margin: 0 5px;
    border: 1px solid #dfe1e5;
    background-color: #f8f9fa;
    color: #5f6368;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover, #luckyButton:hover {
    border: 1px solid #c6c6c6;
    background-color: #f1f3f4;
}

#searchButton:active, #luckyButton:active {
    background-color: #e8eaed;
    border-color: #c6c6c6;
}

.history-container {
    margin-top: 50px;
    width: 60%;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}



.history-container h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 600;
    color: #333;
}

#searchHistoryList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#searchHistoryList li {
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#searchHistoryList li:hover {
    background-color: #e8eaf6;
    cursor: pointer;
}

#searchHistoryList li::before {
    content: '🔍'; 
    margin-right: 10px;
}

#clearHistoryButton {
    background-color: #ff4b5c;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 75, 92, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#clearHistoryButton:hover {
    background-color: #d7384b;
    
}

#clearHistoryButton:active {
    transform: translateY(0); 
    background-color: #ff1e3a;
}
